// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.affix {
  position: fixed;
  top: 0px;
  left: auto;
  right: auto;
  width: 1170px;

  #words_pagination {
    ul {
      box-shadow: 0px 0px 20px #aaa;
    }
  }
}

#words_pagination{
  margin: auto;
  text-align: center;
}
   

.word-table{
  td{
   font-size: 120%;
   padding: 15px 10px; 
  }
  .word-lemma{
    font-weight: bolder;  

    a {
      text-decoration: none;
    }
  }

  .index {
    text-align: center;
    font-size: 12px;
  }
}  


.word{

  .lemma {
    font-size: 50px;
    margin-bottom: 20px
  }

  .center {
    text-align: center;
  }

  .definition {
    font-size: 18px;
  }


  .word-image {
    max-height: 288px; 
    width: 380px;
    display: inline-block;
    margin: 5px;
  }

} 