// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.affix {
  position: fixed;
  top: 40px;
  left: auto;
  right: auto;
  width: 1170px;

  #words_pagination {
    ul {
      box-shadow: 0px 0px 20px #aaa;
    }
  }
}

#words_pagination{
  margin: auto;
  text-align: center;
}
   
.word-start-letter{
  padding-top: 60px;
  font-size: 35px;
}

.word-table{
  td{
   font-size: 120%;
   padding: 15px 10px; 
  }
  .word-lemma{
    font-weight: bolder;  

    a {
      text-decoration: none;
    }
  }

  .index {
    text-align: center;
    font-size: 12px;
  }
}  


.word{

  

  .center {
    text-align: center;
  }

  .page-header{
    border-bottom: 0px;

    .lemma {
      font-size: 75px;
      margin-bottom: 30px;
      margin-top: 35px;
    }

    .definition {
      font-size: 18px;
    }
  }

  .images-container{
    display: inline-block;
    width: 790px;
    vertical-align: top;

    .word-image {
      max-height: 288px; 
      width: 380px;
      display: inline-block;
      margin: 5px;
    }
  }

  .extra-definitions {
    vertical-align: top;
    display: inline-block;
    width: 370px;
    .synset {
      font-size: 13px;

      table {
        border: 1px solid #ddd;
        tr {
          td:nth-child(odd) {
            color: #888;
            width: 70px;
          }
        }
      }
    }
  }

} 